<script lang="ts" setup>
import { useColorStore } from "@/stores/color";
import { ref } from "vue";
const emotion = ref("Smile");
const img = ref("/feeling_imgs/smile.png");
const useColor = useColorStore();
</script>
<template>
  <v-container>
    <v-row>
      <v-col centered>
        <v-img :src="img" width="25vw"></v-img>
      </v-col>
      <v-col align="center" justify="space-around" class="mb-4">
        <div class="text-center text-h3 pa-md-10">{{ emotion }}</div>
        <v-btn
          block
          class="mb-4"
          :class="useColor.color1"
          @click="
            (emotion = 'Angry'),
              (img = '/feeling_imgs/angry.png'),
              useColor.changeColor1()
          "
          >ANGRY</v-btn
        >
        <v-btn
          block
          class="mb-4"
          :class="useColor.color2"
          @click="
            (emotion = 'Cute'),
              (img = '/feeling_imgs/cute.png'),
              useColor.changeColor2()
          "
          >CUTE</v-btn
        >
        <v-btn
          block
          class="mb-4"
          :class="useColor.color3"
          @click="
            (emotion = 'Exited'),
              (img = '/feeling_imgs/excited.png'),
              useColor.changeColor3()
          "
          >EXCITED</v-btn
        >
        <v-btn
          block
          class="mb-4"
          :class="useColor.color4"
          @click="
            (emotion = 'Pain'),
              (img = '/feeling_imgs/pain.png'),
              useColor.changeColor4()
          "
          >PAIN</v-btn
        >
        <v-btn
          block
          class="mb-4"
          :class="useColor.color5"
          @click="
            (emotion = 'Shocked'),
              (img = '/feeling_imgs/shocked.png'),
              useColor.changeColor5()
          "
          >SHOCKED</v-btn
        >
        <v-btn
          block
          class="mb-4"
          :class="useColor.color6"
          @click="
            (emotion = 'Smile'),
              (img = '/feeling_imgs/smile.png'),
              useColor.changeColor6()
          "
          >SMILE</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.yellow {
  background-color: yellow;
}
.normal {
  background-color: none;
}
</style>
