<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";

const useCounter = useCounterStore();
</script>
<template>
  <div class="text-h6">First Component</div>
  <div class="text-h6">{{ useCounter.count }}</div>
  <v-btn @click="useCounter.increment"> INCREMENT </v-btn>
</template>
