<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";

const useCounter = useCounterStore();
</script>
<template>
  <div class="text-h6">Second Component</div>
  <div class="text-h6">{{ useCounter.doubleCount }}</div>
  <v-btn @click="useCounter.decrease"> DECREASE </v-btn>
</template>
